@import '~bootstrap/scss/bootstrap';

body {
  font-family: 'Roboto', sans-serif;
}

img {
  height: 150px;
  width: 100px;
}

nav {
  background-color: #00d1b2;
  color: white;
  height: 55px;
}

.beers {
  border-radius: 15px;
  justify-content: center;
  margin-top: 0px;
  padding: 0px;
}

.beer-element {
  border-collapse: separate;
  border-radius: 5% !important;
  font-size: 13px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid #D3D3D3;
  width: 300px;
}

.container {
    // padding-left: 30px;
    // padding-right: 30px;
    margin-right: auto;
    margin-left: auto;
}

.description {
  margin: 0px;
  padding: 0px;
}

.favourites {
  font-weight: lighter;
}

.fa-star-o {
  color: #00d1b2;
}

.options {
  float: left;
}

.row {
  justify-content: center;
}

.row-2 {
  margin-top: 15px;
}

.search {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 0px;
  text-align: center;
}

.star {
  text-align: right;
  height: 30px;
  padding: 5px;
}

#title {
  float: left;
  font-size: 55px;
  font-weight: lighter !important;
}
